@model WebApp06.Models.Students.SolvedTestViewModel
@{
    ViewData["Title"] = "Test result";
}

    <h2>Test result</h2>

<table>
    @foreach (var item in Model.SolvedTest)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
    <tr>
        <td>Result:</td>
        <td>@Model.Result / @Model.SolvedTest.Count</td>
    </tr>
</table>

