@using WebApp06.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager



    <p><a class="btn btn-secondary" asp-action="Index">Profile</a></p>
    <p><a class="btn btn-secondary" asp-action="ChangePassword">Password</a></p>
  
   


