@model List<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="row">
	<div class="col-sm-9">
		<table class="table">
			<tr>
				<th>Roles</th>
				<th></th>
			</tr>
            <tr>
                @foreach (var item in Model)
                {
                    <td>@item.Name</td>
                }
            </tr>			
		</table>
	</div>

</div>
