@model IEnumerable<WebApp06.Models.Role.ProffesorViewModel>


<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>
                User Name
            </th>
            <th>
                Subject
            </th>
          <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Subject
            </td>
            <td>
                <a class="btn btn-sm btn-danger" href="/Admin/DeleteProf?SubId=@item.SubjectId&UserId=@item.UserId">X</a>
            </td>
        </tr>
}
    </tbody>
</table>
